<phpunit colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true">
	<php>
		<!-- The default of 100 is too low -->
		<ini name="xdebug.max_nesting_level" value="1000"/>
	</php>
	<testsuites>
		<testsuite name="css-sanitizer tests">
			<directory>./tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src</directory>
		</whitelist>
	</filter>
</phpunit>
