<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	colors="true"
	displayDetailsOnTestsThatTriggerDeprecations="true"
	displayDetailsOnTestsThatTriggerErrors="true"
	displayDetailsOnTestsThatTriggerNotices="true"
	displayDetailsOnTestsThatTriggerWarnings="true"
	displayDetailsOnPhpunitDeprecations="true"
	failOnDeprecation="true"
	failOnPhpunitDeprecation="true"
	failOnNotice="true"
	requireCoverageMetadata="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd">
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
  <php>
    <!-- The default of 100 is too low -->
    <ini name="xdebug.max_nesting_level" value="1000"/>
  </php>
  <testsuites>
    <testsuite name="css-sanitizer tests">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
